/* GLOBAL */
/* line 3, sass/style.sass */
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }

/* line 7, sass/style.sass */
body {
  margin: 0;
  font-family: 'Baloo Bhaina', cursive; }

/* line 11, sass/style.sass */
.container {
  width: 100%;
  max-width: 1366px;
  margin: auto; }

/* line 16, sass/style.sass */
section > .container {
  margin: 10vh 0 auto;
  text-align: center; }

/* line 20, sass/style.sass */
.narrow_container {
  max-width: 1000px;
  margin: auto; }

/* colors */
/* mixins */
/* grid */
/* line 75, sass/style.sass */
[class*="col-"] {
  width: 100%;
  float: left; }

/* line 79, sass/style.sass */
.row:before,
.row:after {
  content: "";
  display: table;
  clear: both; }

/* HEADER, NAV, LOGO */
/* line 88, sass/style.sass */
header {
  height: 17vh;
  background-color: #313332; }

/* line 96, sass/style.sass */
header > nav img {
  height: 17vh;
  padding: 15px 40px;
  -webkit-transition: linear 0.3s;
  transition: linear 0.3s; }
  /* line 100, sass/style.sass */
  header > nav img:hover {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    cursor: pointer; }

/* line 104, sass/style.sass */
header > nav ul {
  margin: 0 20px;
  padding: 0;
  float: right;
  list-style-type: none; }

/* line 111, sass/style.sass */
nav:before, nav:after {
  content: "";
  display: table; }

/* line 116, sass/style.sass */
nav:after {
  clear: both; }

/* line 119, sass/style.sass */
nav li {
  display: inline-block; }
  /* line 121, sass/style.sass */
  nav li:first-child a {
    font-size: 1.4em;
    color: #0084bd; }
  /* line 125, sass/style.sass */
  nav li a {
    padding: 0 20px;
    display: block;
    line-height: 18vh;
    font-size: 1.1em;
    text-transform: uppercase;
    text-decoration: none;
    color: #b1b1b1; }
    /* line 133, sass/style.sass */
    nav li a:hover {
      color: #777;
      -webkit-transform: translate(0, 1px);
      transform: translate(0, 1px); }

/* HERO, SLOGAN */
/* line 139, sass/style.sass */
.hero {
  width: 100%;
  min-height: 83vh;
  position: relative;
  background-image: url("../images/foto/jumbotron/jumbotron.jpg");
  background-size: cover; }

/* line 146, sass/style.sass */
.slogan {
  min-width: 40%;
  margin-top: 30vh;
  padding: 10px 20px;
  position: absolute;
  right: 0;
  line-height: 1.5;
  background-color: rgba(0, 0, 0, 0.5);
  color: #d3cfcf; }
  /* line 156, sass/style.sass */
  .slogan p {
    padding: 0;
    font-size: 0.9em;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    color: inherit; }

/* line 163, sass/style.sass */
h1 {
  font-size: 1.5em;
  color: #d3cfcf; }

/* OFFER ICO */
/* line 169, sass/style.sass */
.ico {
  width: 100px;
  height: 100px;
  margin: 25px auto 0;
  border: 3px solid #000;
  border-radius: 50%;
  -webkit-transition: linear 0.2s;
  transition: linear 0.2s;
  cursor: pointer; }
  /* line 177, sass/style.sass */
  .ico:hover {
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2); }
  /* line 180, sass/style.sass */
  .ico img {
    width: 65px;
    height: 65px;
    margin: 15px auto 0; }

/* line 185, sass/style.sass */
.first_ico img {
  width: 60px;
  height: 60px;
  margin-top: 18px; }

/* line 190, sass/style.sass */
p,
figcaption {
  margin-top: 0;
  padding: 25px;
  font-family: 'Lato', sans-serif;
  color: #313332; }

/* line 197, sass/style.sass */
h3 {
  margin-bottom: -10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.3em;
  color: #005276; }

/* line 204, sass/style.sass */
.works_head {
  margin-top: -20px;
  font-size: 1.9em; }

/* line 208, sass/style.sass */
.works_txt {
  font-size: 1.1em; }

/* GALLERY */
/* line 214, sass/style.sass */
.gallery img {
  width: 100%;
  height: 25vw;
  display: block;
  -o-object-fit: cover;
  object-fit: cover; }

/* TEAM, GALLERY ICO */
/* line 224, sass/style.sass */
.instruction {
  font-size: 1.1em; }

/* line 227, sass/style.sass */
.instruction_color {
  color: #005276; }

/* line 230, sass/style.sass */
.gallery .display {
  position: relative; }

/* line 233, sass/style.sass */
.ico_layer {
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
  line-height: 25vw;
  font-size: 1.5em;
  background: rgba(0, 0, 0, 0.5); }
  /* line 242, sass/style.sass */
  .ico_layer i {
    width: 50px;
    height: 50px;
    padding: 10px;
    margin: 15px;
    border: 1px solid #ccc;
    border-radius: 50%;
    background-color: #ccc;
    color: #313332;
    -webkit-transition: linear 0.3s;
    transition: linear 0.3s; }
    /* line 252, sass/style.sass */
    .ico_layer i:hover {
      -webkit-transform: scale(1.5);
      transform: scale(1.5); }

/* line 255, sass/style.sass */
figure {
  margin: 0; }

/* line 258, sass/style.sass */
.display {
  cursor: pointer; }
  /* line 260, sass/style.sass */
  .display:hover .ico_layer {
    display: block; }

/* line 263, sass/style.sass */
.team .display {
  position: relative; }

/* line 266, sass/style.sass */
.descr_layer {
  width: 150px;
  height: 150px;
  position: absolute;
  left: calc(50% - 75px);
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0; }
  /* line 277, sass/style.sass */
  .descr_layer:hover {
    -webkit-transition: 1.5s;
    transition: 1.5s;
    opacity: 1; }
  /* line 281, sass/style.sass */
  .descr_layer p {
    padding-top: 40px;
    font-size: 0.9em;
    color: #fff; }

/* line 286, sass/style.sass */
figcaption {
  font-size: 1.3em; }

/* ABOUT */
/* line 292, sass/style.sass */
.about {
  padding: 30px 30px 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-color: #D2D6E2; }

/* line 298, sass/style.sass */
.about_img {
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  /* line 304, sass/style.sass */
  .about_img img {
    width: 100%;
    height: 100%; }

/* line 308, sass/style.sass */
.about_color {
  margin-left: 25px;
  color: #005276; }

/* line 312, sass/style.sass */
.about_descr {
  text-align: left; }

/* line 315, sass/style.sass */
.about_txt {
  text-align: justify; }

/* line 318, sass/style.sass */
.about_cite p {
  padding-right: 0;
  font-size: 0.85em; }

/* STATISTICS */
/* line 325, sass/style.sass */
.fun_facts {
  margin: 70px 0;
  line-height: 0;
  text-align: center;
  cursor: pointer; }

/* line 331, sass/style.sass */
.numb, .symb {
  display: inline-block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 3em;
  color: #005276; }
  /* line 336, sass/style.sass */
  .numb:hover, .symb:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3); }

/* line 339, sass/style.sass */
.symb {
  -webkit-transform: scale(1.5);
  transform: scale(1.5); }
  /* line 342, sass/style.sass */
  .symb:hover {
    -webkit-transform: scale(1.9);
    transform: scale(1.9); }

/* line 345, sass/style.sass */
.fun_facts p {
  padding: 0;
  text-transform: uppercase; }

/* CONTACT */
/* line 352, sass/style.sass */
.contact {
  padding: 0 30px 15px 30px;
  text-align: left;
  background-color: #424845; }
  /* line 357, sass/style.sass */
  .contact p {
    margin: 0;
    padding-bottom: 10px;
    padding-left: 0;
    color: #b1b1b1; }
  /* line 363, sass/style.sass */
  .contact h3 {
    text-align: left;
    color: #0084bd; }
  /* line 367, sass/style.sass */
  .contact i {
    width: 40px;
    height: 40px;
    margin: 5px;
    padding-top: 3px;
    border: 2px solid;
    border-radius: 50%;
    text-align: center;
    font-size: 1.9em;
    -webkit-transition: linear 0.3s;
    transition: linear 0.3s;
    color: #242625;
    cursor: pointer; }
    /* line 379, sass/style.sass */
    .contact i:hover {
      -webkit-transform: scale(0.8);
      transform: scale(0.8); }

/* line 382, sass/style.sass */
.adress_bold {
  font-weight: bold; }

/* line 385, sass/style.sass */
.social {
  padding-left: 10px; }

/* FOOTER */
/* line 391, sass/style.sass */
.footer {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #313332; }
  /* line 397, sass/style.sass */
  .footer p {
    margin: 0;
    color: #b1b1b1; }

/* SCROLLBAR */
/* line 402, sass/style.sass */
::-webkit-scrollbar-track {
  background-color: rgba(219, 219, 219, 0.98); }

/* line 405, sass/style.sass */
::-webkit-scrollbar {
  width: 11px;
  background-color: rgba(0, 0, 0, 0.5); }

/* line 409, sass/style.sass */
::-webkit-scrollbar-thumb {
  background-color: rgba(119, 119, 119, 0.46); }

/* MEDIA QUERIES */
@media (max-width: 767px) {
  /* For tablets: */
  /* line 417, sass/style.sass */
  .col-s-1 {
    width: 8.33%; }
  /* line 419, sass/style.sass */
  .col-s-2 {
    width: 16.66%; }
  /* line 421, sass/style.sass */
  .col-s-3 {
    width: 25%; }
  /* line 423, sass/style.sass */
  .col-s-4 {
    width: 33.33%; }
  /* line 425, sass/style.sass */
  .col-s-5 {
    width: 41.66%; }
  /* line 427, sass/style.sass */
  .col-s-6 {
    width: 50%; }
  /* line 429, sass/style.sass */
  .col-s-7 {
    width: 58.33%; }
  /* line 431, sass/style.sass */
  .col-s-8 {
    width: 66.66%; }
  /* line 433, sass/style.sass */
  .col-s-9 {
    width: 75%; }
  /* line 435, sass/style.sass */
  .col-s-10 {
    width: 83.33%; }
  /* line 437, sass/style.sass */
  .col-s-11 {
    width: 91.66%; }
  /* line 439, sass/style.sass */
  .col-s-12 {
    width: 100%; }
  /* line 442, sass/style.sass */
  header {
    height: auto;
    text-align: center; }
    /* line 447, sass/style.sass */
    header > nav ul {
      float: none; }
    /* line 450, sass/style.sass */
    header > nav img {
      width: 45%;
      height: 45%;
      margin: 5px 0 0;
      padding: 10px 0 0; }
  /* line 457, sass/style.sass */
  nav li {
    display: block; }
    /* line 460, sass/style.sass */
    nav li a {
      line-height: 7vh; }
  /* line 463, sass/style.sass */
  .gallery img {
    height: 50vw; }
  /* line 466, sass/style.sass */
  .ico_layer {
    width: 100%;
    height: 100%;
    display: block;
    background: transparent; }
    /* line 472, sass/style.sass */
    .ico_layer i {
      width: 40px;
      height: 40px;
      font-size: 1em; }
  /* line 477, sass/style.sass */
  .fa-search-plus {
    position: absolute;
    left: calc(28% - 25px);
    top: calc(50% - 35px); }
  /* line 482, sass/style.sass */
  .fa-info {
    position: absolute;
    right: calc(28% - 25px);
    top: calc(50% - 35px); }
  /* line 487, sass/style.sass */
  .instruction_hidden {
    display: none; }
  /* line 490, sass/style.sass */
  .descr_layer {
    opacity: 0.6; }
  /* line 493, sass/style.sass */
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  /* line 496, sass/style.sass */
  .about_img {
    margin-right: 5px;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
  /* line 500, sass/style.sass */
  .about_descr {
    padding-left: 5%;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
    /* line 504, sass/style.sass */
    .about_descr h1 {
      margin: 0; }
    /* line 507, sass/style.sass */
    .about_descr p {
      padding: 0 25px 10px 0;
      text-align: left; }
  /* line 511, sass/style.sass */
  .contact_info p {
    padding: 7px 0; }
  /* line 514, sass/style.sass */
  .social {
    padding-left: 0; }
    /* line 517, sass/style.sass */
    .social p {
      padding: 7px 0 10px 0; }
    /* line 520, sass/style.sass */
    .social i {
      margin-bottom: 20px; } }

@media (min-width: 768px) {
  /* For desktop: */
  /* line 526, sass/style.sass */
  .col-m-1 {
    width: 8.33%; }
  /* line 528, sass/style.sass */
  .col-m-2 {
    width: 16.66%; }
  /* line 530, sass/style.sass */
  .col-m-3 {
    width: 25%; }
  /* line 532, sass/style.sass */
  .col-m-4 {
    width: 33.33%; }
  /* line 534, sass/style.sass */
  .col-m-5 {
    width: 41.66%; }
  /* line 536, sass/style.sass */
  .col-m-6 {
    width: 50%; }
  /* line 538, sass/style.sass */
  .col-m-7 {
    width: 58.33%; }
  /* line 540, sass/style.sass */
  .col-m-8 {
    width: 66.66%; }
  /* line 542, sass/style.sass */
  .col-m-9 {
    width: 75%; }
  /* line 544, sass/style.sass */
  .col-m-10 {
    width: 83.33%; }
  /* line 546, sass/style.sass */
  .col-m-11 {
    width: 91.66%; }
  /* line 548, sass/style.sass */
  .col-m-12 {
    width: 100%; } }

@media (min-width: 768px) and (max-width: 965px) {
  /* menu */
  /* line 556, sass/style.sass */
  header > nav img {
    padding: 15px 5px 15px 15px; }
  /* line 560, sass/style.sass */
  header > nav li:last-child {
    padding-right: 0; }
  /* line 562, sass/style.sass */
  header > nav li:first-child a {
    padding-left: 0;
    font-size: 1.2em; }
  /* line 565, sass/style.sass */
  header > nav li a {
    padding: 0 10px;
    font-size: 0.96em; } }

@media (min-width: 768px) and (max-width: 1155px) {
  /* team */
  /* line 571, sass/style.sass */
  .team-column {
    width: 33%; } }

@media (max-width: 465px) {
  /* team, about */
  /* line 577, sass/style.sass */
  .team-column {
    width: 100%; }
  /* line 580, sass/style.sass */
  .about_descr {
    font-size: 1em; } }

/*# sourceMappingURL=style.css.map */