/* GLOBAL */

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0;
    font-family: 'Baloo Bhaina', cursive;
}

.container {
    max-width: 100vw;
    margin: 0 15px 0;
}

section>.container {
    margin: 40px 0 auto;
    text-align: center;
}


/* HEADER, NAV, LOGO */

header {
    height: 90px;
    background-color: #313332;
}

header>nav img {
    height: 90px;
    padding-top: 2px;
    -webkit-transition: linear .3s;
    transition: linear .3s;
}

header>nav img:hover {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    cursor: pointer;
}

header>nav ul {
    margin: 0 20px;
    padding: 0;
    float: right;
    list-style-type: none;
}

nav:before,
nav:after {
    content: "";
    display: table;
}

nav:after {
    clear: both;
}

nav li {
    display: inline-block;
}

nav li a {
    display: block;
    padding: 0 20px;
    line-height: 90px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: #b1b1b1;
}

nav a:hover {
    color: #777;
    -webkit-transform: translate(0px, 1px);
    transform: translate(0px, 1px);
}

nav ul li:first-child a {
    font-size: 20px;
    color: #0084BD;
}


/* HERO, SLOGAN */

.hero {
    width: 100%;
    min-height: 86vh;
    position: relative;
    background-image: url('http://imageshack.com/a/img922/5715/ajncbw.jpg');
    background-size: cover;
}

.slogan {
    width: 40%;
    min-width: 520px;
    padding: 10px 20px;
    margin-top: 30vh;
    position: absolute;
    right: 0;
    line-height: 1.5;
    background-color: rgba(0, 0, 0, .5);
    color: #d3cfcf;
}

h1 {
    font-size: 27px;
    color: #313332;
}

.slogan p {
    padding: 0;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    color: inherit;
}


/* GRID */

[class*="col-"] {
    float: left;
    min-height: 1px;
}

.row:before,
.row:after {
    content: "";
    display: table;
    clear: both;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.col-offset-1 {
    margin-left: 8.33%;
}

.col-offset-2 {
    margin-left: 16.66%;
}

.col-offset-3 {
    margin-left: 25%;
}

.col-offset-4 {
    margin-left: 33.33%;
}

.col-offset-5 {
    margin-left: 41.66%;
}

.col-offset-6 {
    margin-left: 50%;
}

.col-offset-7 {
    margin-left: 58.33%;
}

.col-offset-8 {
    margin-left: 66.66%;
}

.col-offset-9 {
    margin-left: 75%;
}

.col-offset-10 {
    margin-left: 83.33%;
}

.col-offset-11 {
    margin-left: 91.66%;
}


/* OFFER ICO */

.ico {
    width: 100px;
    height: 100px;
    margin: 25px auto 0;
    border: 3px solid #000;
    border-radius: 50%;
    transition: linear .2s;
    -webkit-transition: linear .2s;
    cursor: pointer;
}

.ico:hover {
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
}

.ico img {
    width: 65px;
    height: 65px;
    margin: 15px auto 0;
}

.first_ico img {
    width: 60px;
    height: 60px;
    margin-top: 18px;
}

p,
figcaption {
    padding: 25px;
    margin-top: 0;
    font-family: 'Lato', sans-serif;
    color: #313332;
}

h3 {
    margin-bottom: -10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    color: #005276;
}

.works_head {
    font-size: 30px;
}

.works_txt {
    font-size: 20px;
}


/* GALLERY */

.gallery img {
    width: 100%;
    height: 25vw;
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
}


/* TEAM */

.instruction {
    font-size: 18px;
}

span {
    color: #005276;
}

.ico_layer {
    width: 25%;
    height: 25vw;
    position: absolute;
    display: none;
    line-height: 25vw;
    font-size: 25px;
    background: rgba(0, 0, 0, .5);
}

.ico_layer i {
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 50%;
    background-color: #ccc;
    padding: 10px;
    margin: 15px;
    color: #313332;
    -webkit-transition: linear .3s;
    transition: linear .3s;
}

i:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.display {
    cursor: pointer;
}

.display:hover .ico_layer {
    display: block;
}

.team .display {
    position: relative;
}

.descr_layer {
    width: 150px;
    height: 150px;
    position: absolute;
    left: calc(50% - 75px);
    top: 1em;
    border-radius: 50%;
    background: rgba(0, 0, 0, .5);
    opacity: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.descr_layer:hover {
    opacity: 1;
    -webkit-transition-duration: 1.5s;
    transition-duration: 1.5s;
}

.descr_layer p {
    font-size: 15px;
    color: #fff;
    padding-top: 40px;
}

figcaption {
    font-size: 20px;
}


/* ABOUT */

.about {
    padding: 30px 10px 0px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    background-color: #D2D6E2;
}

.about_img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.about_img img {
    width: 100%;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.blue {
    margin-left: 25px;
    color: #005276;
}

.about_descr {
    text-align: left;
}

.about_txt {
    text-align: justify;
}

.about_cite {
    font-size: 13px;
}


/* STATISTICS */

.fun_facts {
    margin: 70px 0;
    padding: 0 300px;
    line-height: 0;
}

.numb,
.symb {
    font-size: 40px;
    color: #005276;
    -webkit-transition: .5s;
    transition: .5s;
}

.symb {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.fun_facts h1:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    cursor: pointer;
}

.fun_facts p {
    padding: 0;
    text-transform: uppercase;
}


/* CONTACT */

.contact {
    padding: 0 200px 10px 250px;
    text-align: left;
    background-color: #424845;
}

.adress_bold {
    padding-left: 0;
    font-weight: bold;
}

.contact p {
    margin: 0;
    padding-bottom: 10px;
    padding-left: 0;
    color: #b1b1b1;
}

.contact h3 {
    text-align: left;
    color: #0084BD;
}

.contact i {
    width: 40px;
    height: 40px;
    margin: 5px;
    padding-top: 3px;
    position: relative;
    left: 70px;
    top: 25px;
    border: 2px solid;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    color: #242625;
    -webkit-transition: linear .3s;
    transition: linear .3s;
    cursor: pointer;
}

.contact i:hover {
    -webkit-transform: scale(.8);
    transform: scale(.8);
}

.social {
    padding-left: 60px;
}


/* FOOTER */

.footer {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #313332;
}

.footer p {
    margin: 0;
    color: #b1b1b1;
}
